* {
  margin: 0;
  padding: 0;
  /* box-sizing: 0; */
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.container {
  display: flex;
}

.nav {
  /*position: fixed;*/
  width: 25vw;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #292929;
}

.content {
  width: 65vw;
  padding: 1rem 5rem;
}

.start {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: whitesmoke;
}

.input-place p {
  color: antiquewhite;
  font-size: larger;
}
.form {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 1.5rem;
}
.form button {
  width: 7rem;
  background-color: #8ea3fa;
  color: black;
  border: none;
  border-radius: 15px;
  height: 2rem;
  
}

.form button:hover{
  background-color: #f6d468;
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.buttons {
  margin: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  justify-content: space-around;
}


.forecast-btn {
  margin-top: 5rem;
  height: 2.5rem;
  width: 7.5rem;
  border: none;
  background-color: #fe6ac4;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}

.forecast-btn:hover{
  background-color: #f6d468;
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}


#n_days {
  height: 2rem;
  margin-top: 5rem;
  border-radius: 15px; 
  padding: 10px; 
  border: 1px solid #ccc; 
}
.stock-btn {
  width: 7.5rem;
  height: 2.5rem;
  border: none;
  background-color: #7660f6;
  color: rgb(0, 0, 0);
  border-radius: 15px;

}

.stock-btn:hover{
  background-color: #8ea3fa;
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.indicators-btn{
  width: 7.5rem;
  height: 2.5rem;
  border: none;
  background-color: #7660f6;
  color: rgb(0, 0, 0);
  border-radius: 15px;

}

.indicators-btn:hover{
  background-color: #8ea3fa;
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
.header p {
  font-size: 4rem;
  margin-left: 3rem;
  line-height: 80%;
}

#logo {
  max-width: 15rem;
  height: auto;
}


.form input{
  border-radius: 15px; 
  height: 2rem;
  padding: 10px; 
  border: 1px solid #ccc; 
  width: 100%;
  margin-right: -25px;
}

